SUPERFRETE_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE3ODk5NDIxNDMsInN1YiI6InNEUlhsQXNxNXpUOTZBNFBVclI5dFN6QzF6MDMifQ.J2vwYSn3TclqB5JwK_hwUufVhNl6cyUwEP3Jyu9W65g
SUPERFRETE_ORIGIN_CEP=119000000
SUPERFRETE_BASE_URL=https://api.superfrete.com
